<%= form_for(@complaint) do |f| %>
  <% if @complaint.errors.any? %>
    <div class="alert alert-danger">
      <h4>Tenemos <%= pluralize(@complaint.errors.count, "error") %>.</h4>
      <ul class="list-unstyled">
        <% @complaint.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form_group_tag(@complaint.errors[:title]) do %>
	<div class="form-group">
   	<%= f.label :title, "Título" %>
   	<%= f.text_field :title, class: "form-control" %>
  </div>
  <% end %>
  <%= form_group_tag(@complaint.errors[:body]) do %>
	<div class="form-group">
  	<%= f.label :body, "Contenido" %>
  	<%= f.text_area :body, class: "form-control" %>
 	</div>
  <% end %>
 <%# form_group_tag(@complaint.errors[:picture]) do %>
 	<div class="form-group">
    <%= f.label :picture, class: "control-label" %>
    <%= f.file_field :picture %> 
    <%= f.hidden_field :picture_cache %>        
  </div>
  <%# end %>
  <div class="form-group">
    <%= f.label :public, class: "control-label" %>
    <%= f.check_box :public, class: "checkbox" %>
  </div>
  	<%= f.submit "Guardar" %>
<% end %>