<div class="container">
	<div class="row">
		<h1>Quejas
			<%= link_to new_complaint_path, class: "btn btn-warning btn-lg pull-right" do%>
			<i class="fa fa-bullhorn"> DENUNCIAR </i>

			<% end %>
		</h1>
		
		<p>Encuentra todas las quejas de Pereira</p>
		<% if policy(Complaint.new).create? %>  	
		<% end %>

		<% @complaints.each do |complaint| %>
			<div class="panel panel-default">
			  <div class="panel-body">
			  	<div class="col-md-10">
			  		<h4><%= link_to complaint.title, complaint_path(complaint) %></h4>
			  		<br>
			  		<small><%= time_ago_in_words(complaint.created_at) %></small>
			  	</div>
			  	<div class="col-md-2">
			  		<p class="pull-right">
			  			<small>
							<i class="fa fa-thumbs-up"></i> <span class="badge"><%= complaint.votos_acuerdo %></span>
							|
							<i class="fa fa-thumbs-down"></i> <span class="badge"><%= complaint.votos_desacuerdo %></span>
						</small>	
					</p>
			  		<p>
			  			
			  		</p>  		
			  	</div>   
			  </div> 
			</div>				
		<% end %>		
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12 text-center">
			<%= will_paginate @complaints %>
		</div>
	</div>	
</div>



