<div class="container">
	<div class="row">
		<h1>Quejas
			<%= link_to "DENUNCIAR", new_complaint_path, class: "btn btn-success btn-lg pull-right" %>

		</h1>
		
		<p>Encuentra todas las quejas de Pereira</p>
		<% if policy(Complaint.new).create? %>

  	
	<% end %>
		<% @complaints.each do |complaint| %>
			<div class="col-lg-12">
				<p><%= link_to complaint.title, complaint_path(complaint) %></p>
				<small>
					<p>
						<i class="fa fa-thumbs-up"></i> <span class="badge"><%= complaint.votos_acuerdo %></span>
						 | 
						<i class="fa fa-thumbs-down"></i> <span class="badge"><%= complaint.votos_desacuerdo %></span>
					</p>	
				</small>
			</div>
			<br>					
		<% end %>		
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12 text-center">
			<%= will_paginate @complaints %>
		</div>
	</div>	
</div>


